body {
    background-color: #282A36;
    font-family: 'Open Sans';
}

h1 {
    color: rgb(196, 23, 173);
    font-family: 'Roboto';
    font-size: 3em;
    text-align: center;
    margin: 60px;
}
h2 {
    color: rgb(196, 23, 173);
    font-family: 'Roboto';
    font-size: 2em;
    text-align: center;
    margin: 10px;
}
.resize {
    width: auto;
    height: 200px;
}
.box {
    color: white;
    padding: 20px;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
    background-color: #343746;
}
.box:hover {
    background-color: #3b3b50;
}
.resize:active {
    width: 50%;
    height: 50%;
}